<%- include ('../../partials/header.ejs') %>

    <body>
        <%- include('../../partials/navbar.ejs') %>
            <div class="container">
                <hr>
                <div class="card">
                    <div class="card-header">
                        <h2>Edição de artigo</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/articles/update">
                            <input type="hidden" name="id" value="<%= article.id %>">
                            <input class="form-control" type="text" name="title" value="<%= article.title%>"><br>
                            <textarea class="form-control" name="body" id="article"></textarea><br>
                            <label>Categorias</label>
                            <select name="category" class="form-control">
                                <% categories.forEach((category)=> { %>


                                    <% if(category.id == article.categoryId){ %>
                                        <option value="<%= category.id  %>" selected>
                                            <%= category.title %>
                                        </option>
                                    <% }else{ %>
                                        <option value="<%= category.id  %>">
                                            <%= category.title %>
                                        </option>
                                    <% } %>   

                                    <% }) %>
                            </select>
                            <br>
                            <button class="btn btn-danger">Atualizar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="content" style="display:none">
                <%- article.body %>
            </div>

    </body>
    <%- include ('../../partials/footer.ejs') %>

        <script src="/tinymce/tinymce.min.js">
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script>
            tinymce.init({
                language: 'pt_BR',
                selector: "#article",
                plugins: [
                    'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen inserdatetime media save table paste emoticons'
                ],
                init_instance_callback: () => {
                    tinymce.get("article").setContent($("#content").html())
                }
            })
        </script>