<%- include('../../partials/header.ejs') %>

    <body>
        <%- include('../../partials/homenavbar.ejs') %>
            <div class="container">
                <hr>
                <% result.articles.rows.forEach(article=>{ %>
                    <div class="card">
                        <div class="card-header">
                            <h2>
                                <%= article.title %>
                            </h2>
                        </div>
                        <div class="card-body">
                            <a href="/<%= article.slug %>" class="btn btn-danger">Leia Mais</a>
                        </div>
                    </div>
                    <br>
                    <% }); %>
                    <div class="row">
                        <div class="col col-12">
                                <% if(result.page > 2) { %>
                                <a style="float: left" class="btn btn-danger" href="/articles/page/<%= result.page - 1 %>">P치gina anterior</a>
                                <% } else if(result.page == 2) { %>
                                    <a style="float: left" class="btn btn-danger" href="/">P치gina anterior</a>
                                    <% } %>  


                            <% if(result.next) {%>
                            <a style="float: right" class="btn btn-danger" href="/articles/page/<%= result.page + 1 %>">Pr칩xima p치gina</a><br><br>
                            <% } %>
                            <hr>
                        </div>
                    </div>
            </div>
    </body>
    <%- include('../../partials/footer.ejs') %>