<%- include('./partials/header.ejs') %>

    <body>
        <%- include('./partials/homenavbar.ejs') %>
            <div class="container">
                <hr>
                <div class="jumbotron">
                    <h1 class="display-4">Bem vindo!</h1>
                    <p class="lead">Este é um simples blog criado com Javascript.</p>
                    <hr class="my-4">
                    <p>Ele utliza das tecnologias NodeJS, Express, EJS, Bootstrp e MySQL.
                    </p>
                    <a class="btn btn-danger btn-lg" href="#" role="button">Leia mais</a>
                </div>
                <hr>
                <% articles.forEach(article=>{ %>
                    <div class="card">
                        <div class="card-header">
                            <h2>
                                <%= article.title %>
                            </h2>
                        </div>
                        <div class="card-body">
                            <a href="/<%= article.slug %>" class="btn btn-danger">Leia Mais</a>
                        </div>
                    </div>
                    <br>
                    <% }); %>
            </div>
    </body>
    <%- include('./partials/footer.ejs') %>